.cta{
background-color: var(--primary-green);
color: rgb(34, 216, 155);
padding: 80px 20px;
text-align: center;
}
.cta h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.cta p{
    font-size: 10px;
    margin-bottom: 30px;
}
.cta-button{
    background-color: rgb(67, 247, 148);
    color: rgb(1, 22, 1);
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
.cta-button:hover{
    background-color: rgb(214, 250, 238);
}