.features{
    background-color: white;
    padding: 80px 20px;
}
.features-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.features-container h2{
    font-size: 32px;
    color: black;
    margin-bottom: 40px;
}
.features-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

}
.features-card{
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}
.feature-card:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.features-card h3{
    color: rgb(146, 241, 3);
    font-size: 24px;
    margin-bottom: 10px;
}
.features-card p{
    color: rgb(10, 0, 0);
}
